build.mak
build/cc-auto.mak
build/os-auto.mak
config.log
config.status
pjlib-util/bin
pjlib-util/build/os-auto.mak
pjlib-util/build/output
pjlib-util/lib
pjlib/bin
pjlib/build/os-auto.mak
pjlib/build/output/
pjlib/include/pj/compat/m_auto.h
pjlib/include/pj/compat/os_auto.h
pjlib/include/pj/config_site.h
pjlib/lib/
pjmedia/bin/
pjmedia/build/os-auto.mak
pjmedia/build/output/
pjmedia/include/pjmedia-codec/config_auto.h
pjmedia/include/pjmedia/config_auto.h
pjmedia/lib
pjnath/bin
pjnath/build/output
pjnath/lib
pjsip-apps/bin
pjsip/build/os-auto.mak
pjsip/build/output
pjsip/include/pjsip/sip_autoconf.h
third_party/lib
third_party/build/*
pjsip-apps/build/output
pjsip/bin
pjsip/lib
user.mak
